.menu-sections {
  width: 80%;
  margin-left: 10%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 5rem 3rem;

  /* column-width: 16.6vw; */
}

.menu-drinks {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}

.menu-cabinet-dish {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}

.menu-breakfast {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}
.menu-dinner {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}

/* media query */
/* media query for home page */
@media only screen and (max-width: 420px) {
  body {
    width: 40rem;
  }

  nav {
    width: 40rem;
    position:relative
  }

  h1 {
    display:none;
  }
  .img-hamburger{
    display:inline-block;
  }
  .navigation-bar{
    display:none;
  }
  .manager-note {
    font-size: 1.8rem;
    height: 15rem;
    width: 90%;
    padding-left: 0rem;
    margin-top: 7rem;
    margin-left: 1rem;
  }
  .tablet-contents {
    display: none;
  }
  .greeting-note {
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 3rem;
  }

  .manager-signature {
    top: 70%;
    right: 15%;
  }
  .manager-note-img {
    width: 12rem;
    height: 12rem;
    border-radius: 4rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  /* qr scan msg */
  .qrcode {
    padding-top: 7rem;
  }

  .main-img {
    width: 90%;
  }
  .main-qr-img {
    width: 20rem;
    top: 25%;
    right: 25%;
  }

  .btn-ordernow {
    margin-top: 2rem;
  }

  .qr-msg {
    margin-top: 7rem;
  }

  /*  Media quey Menupage */

  .menu-h3 {
    word-spacing: 0rem;
    margin-right: 2rem;
  }

  .customer-qrcode {
    right: 7%;
  }

  .menu-h2 {
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;
    letter-spacing: 2rem;
    padding-bottom: 4rem;
  }

  .menu-sections {
    display: flex;
    flex-direction: row;
  }
  .menu-sections h3 {
    padding: 2rem;
    text-align: center;
    font-size: 1.8rem;
  }
  .menu-sections img {
    width: 24rem;
    height: 24rem;
    border-radius: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 0 rgb(177, 182, 177);
  }

  .menu-sections {
    margin-left: 10%;
    flex-direction: column;
  }
  .menu-buttons {
    display: flex;
    flex-direction: row;
  }
  .menu-buttons button {
    width: 20rem;
  }

  /* Media query - drink page */
  /* Media query -drink page */
  /* drink page */
  .drink-container {
    background-color: rgb(238, 234, 231);
  }
  .drink-h1 {
    padding-left: 10rem;
    width: 95%;
    display: block;
  }
  .nav-drink {
    display: none;
  }

  .drink-section {
    margin-top: 2rem;
    width: 90%;
  }
  .drink-h3 {
    margin-top: 2rem;
    padding-top: 0.5rem;
    text-align: center;
  }
  .drink-list {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 95%;
    border: 1px dotted darkgreen;
    border-radius: 2rem;
    line-height: 3rem;
  }
  .button-price2 {
    width: 5rem;
    height: 3rem;
    position: absolute;
    right: 29%;
  }
  .button-price1 {
    width: 5rem;
    height: 3rem;
    position: absolute;
    right: 15%;
  }
  .button-add {
    width: 5rem;
    height: 3rem;
    position: absolute;
    right: 2%;
    background-color: var(--light-green);
  }
  .drink-buttons {
    width: 90%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .drink-buttons button {
    width: 30%;
  }

  /* Media Query Cabinet Dish Page */
  /* Media Query Cabinet Dish Page */

  .cabinet-section, 
  div.breakfast-section,
  div.lunch-section{
    margin-top: 5rem;
    margin-left: 1.5rem;
    display:flex;
    flex-direction: column;
  }
  .cabinet-section section,
  .breakfast-section section,
  .lunch-section section{
    height: 32rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }

  .cabinet-order-button {
    background-color: var(--light-green);
    margin-right: 7rem;
  }
  .cabinet-buttons button{
    margin-left: 8rem;
  }
}
